<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.together.repository.OrganizationMapper">

    <select id="findOrganizationById" parameterType="String" resultType="Organization">
        SELECT * FROM Organization
        WHERE ( org_id = #{orgId} )
    </select>

    <select id="findAllOrganization" resultType="Organization">
        SELECT * FROM Organization
    </select>

    <insert id="createOrganization" parameterType="Organization">
        INSERT INTO Organization
        VALUES (#{orgId},#{orgName},#{orgMobile},#{orgCertified},#{orgEmail},#{orgType},#{orgAddress},
        #{orgManName},#{orgManBirth},#{orgManGender},#{orgSns},#{orgManMobile})
    </insert>

    <update id="certificateOrganization" parameterType="Organization">
        UPDATE Organization SET org_certified = #{orgCertified} WHERE org_id = #{orgId}
    </update>


    <delete id="deleteOrganizationById" parameterType="String">
        DELETE FROM Organization
        WHERE ( org_id = #{orgId} )
    </delete>
</mapper>