<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.together.dao.ServantDao">
    <select id="findAll" resultType="project.together.dto.Servant">
        SELECT *
        FROM Servant
    </select>
    
    <select id="findById" parameterType="String" resultType= "project.together.dto.Servant">
        SELECT
            ser_id AS serId,
            ser_name AS serName,
            ser_birth AS serBirth,
            ser_mobile AS serMobile,
            ser_email AS serEmail,
            ser_cum_coefficient AS serCumCoefficient,
            ser_cum_time AS serCumTime,
            ser_sns AS serSns
        FROM Servant
        WHERE ser_id = #{serId}
    </select>

    <insert id="createServant" parameterType="project.together.dto.Servant">
        INSERT INTO Servant
            ser_id AS serId,
            ser_name AS serName,
            ser_birth AS serBirth,
            ser_gender AS serGender,
            ser_mobile AS serMobile,
            ser_email AS serEmail,
            ser_sns AS serSns
        VALUES
            #{serId},
            #{serName},
            #{serBirth},
            #{serGender},
            #{serMobile},
            #{serEmail},
            #{serSns}
    </insert>


</mapper>