<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.together.repository.VolunteerMapper">

    <select id="findAllVolunteer" resultType="map">
        SELECT * FROM Volunteer;
    </select>

    <select id="findVolunteerById" parameterType="Integer" resultType="Volunteer">
        SELECT * FROM Volunteer WHERE vol_id = #{volId}
    </select>

    <select id="findVolunteerCurNumber" parameterType="Integer" resultType="Integer">
        SELECT vol_cur_number
        FROM Volunteer
        WHERE vol_id = #{volId}
    </select>

    <insert id="createVolunteer" parameterType="Volunteer" useGeneratedKeys="true" keyProperty="volId">
        INSERT INTO Volunteer
        VALUES (#{volId},#{volOrganization},#{volRecPersonnel},#{volRecPeriod},#{volType},#{volCurNumber},
        #{volLocation},#{volStTime},#{volEndTime},#{volTitle},#{volContent} )
    </insert>

    <update id="updateVolCurNumberById" parameterType="Volunteer">
        UPDATE Volunteer SET vol_cur_number = #{volCurNumber} WHERE vol_id = #{volId}
    </update>

    <delete id="deleteVolunteerById" parameterType="Integer">
        DELETE FROM Volunteer SET vol_id = #{volId}
    </delete>

</mapper>